<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brithen Made</title>
  <style>
    body {
      background-color: black;
      color: white;
    }

    .profolioimagemain {
      position: relative;
      text-align: center;

    }

    .protfoliohading {
      margin-bottom: 30px;
    }

    .mainprotfolio {
      position: relative;
      top: 70px;
    }

    .vectorimage3 {
      position: relative;
      border-style: solid;
      border-width: 10px;
      border-color: black;
    }

    .vectorimage1 {
      position: relative;
      border-style: solid;
      border-width: 10px;
      border-color: black;
    }

    .vectorimage2 {
      position: relative;
      border-style: solid;
      border-width: 10px;
      border-color: black;
    }

    .protfoliohading {
      position: relative;
      font-family: SWLink;
    }

    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
    a {
      color: white;
     text-decoration: none;
     font-family: SWLink;
     
    }
  </style>
</head>

<body>
  {{!-- this is staring of protfolio section --}}
  <div class="mainprotfolio">
    <center>
      <h1 class="protfoliohading">VIEW THE PROTFOLIO</h1>
    </center>
    <div class="profolioimagemain">
      <img src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860__340.png" alt="" class="vectorimage1">
      <img src="https://cdn.pixabay.com/photo/2020/05/04/18/55/avocado-5130214__340.png" alt="" class="vectorimage2">
      <img src="https://cdn.pixabay.com/photo/2014/03/24/17/06/hummingbird-295026__340.png" alt="" class="vectorimage3">
    </div>
  <center><a href="https://www.instagram.com/">Do you want to see more protfolio go and see in instagram   <h2>CLICK ON THIS</h2></a></center>  
  </div>
  {{>footer}}
  {{!-- this is end of protfolio section --}}
</body>

</html>