<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brithen Made</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <style>
        .div1v {
            position: relative;
            width: 50%;
            background-color: #006fffa1;
            height: 500px;
            top: 60px;

        }

        .div2v {
            position: relative;
            width: 50%;
            background-color: #006fffa1;
            height: 200px;
            top: 60px;
            height: 500px;

        }

        .div2v h1 {
            text-align: center;
            position: relative;
            top: 30%;
            font-family: Harrington;
            color: rgb(0, 0, 0);
        }

        .Mainv {
            display: flex;
            flex-direction: row;
        }


        .LearnMorev {


            position: relative;
            top: 35%;
            font-family: Segoe UI Emoji;
            color: #D3A78C;
            font-family: Bradley Hand ITC;
            color: black;
        }

        .headingv {
            position: relative;
            right: 40%;
            font-family: 'Permanent Marker', cursive;
        }

        .image {
            position: relative;
            height: 480px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 40%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-style: solid;
            border-width: 10px;
            border-color: white;
        }



        .learnmore {

            position: relative;
            top: 35%;
            left: 0%;
        }

        .learnmore {
            position: relative;
            height: 50px;
            width: 200px;
            margin-top: 30px;
            background-color: transparent;
            border-style: solid;
            border-color: black;
            border-width: 2px;
        }


            {
                {
                 !-- this is responsive css --
            }
        }

        @media (max-width: 800px) {
            .Mainv {
                flex-direction: column;
            }

            .div1v {
                position: relative;
                width: 100%;
                background-color: #006fffa1;
                height: 200px;
                top: 60px;
                height: 500px;
            }

            .div2v {
                position: relative;
                width: 100%;
                background-color: #006fffa1;
                height: 200px;
                top: 60px;
                height: 500px;
            }

            .image {
                position: relative;
                height: 480px;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-style: solid;
                border-width: 10px;
                border-color: white;
            }

            .headingv {
                position: relative;
                left: 00%;
                font-family: 'Permanent Marker', cursive;
            }


            .LearnMorev {
                position: relative;
                top: 35%;
                font-family: SWTxt;
                color: #D3A78C;
                text-align: center;
                font-size: 17px;
                color: white;
            }
            .learnmore {
                position: relative;
                text-align: center;
                left: 25%;
            }
        }

            {
                {
                 !-- this is end of responsive css --
            }
        }
        a {
            color: black !important;
        }
    </style>
</head>

<body>
    <div class="Mainv">
        <div class="div1v">
            <img src="https://images.pexels.com/photos/1852289/pexels-photo-1852289.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="image" alt="" srcset="">
        </div>
        <div class="div2v">

            <h1 class="headingv">
                MEET BRI

            </h1>
            <h3 class="LearnMorev">
                I'm branding expert who has a passion
                <br>
                for all things design. I'm know best <br>
                for my satragic color palette, artful <br>
                patterns refined typography and ability <br>
                to bring growing brands to life.
            </h3>
            <button class="learnmore"><a href="https://www.instagram.com/">HEAR MY STORY</a></button>
        </div>
    </div>
    </div>

</body>

</html>
{{!-- # My website is ready --}}