<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brithen Made</title>
    <style>
        body {
   margin: 0;
            padding: 0;
        }

        .div1 {
            position: relative;
            width: 50%;
            background-color: #F2E8DC;
            height: 500px;
            top: 60px;

        }

        .div2 {
            position: relative;
            width: 50%;
            background-color: #F9D9C9;
            height: 200px;
            top: 60px;
            height: 500px;

        }

        .div2 h1 {
            text-align: center;
            position: relative;
            top: 30%;
            font-family: Harrington;
            color: rgb(0, 0, 0);
        }

        .Mainh {
            display: flex;
            flex-direction: row;
            padding: 0px;
            position: relative;
        
        }

        @media (max-width: 800px) {
            .Mainh {
                flex-direction: column;
            }

            .div1 {
                position: relative;
                width: 100%;
                background-color: #F2E8DC;
                height: 200px;
                top: 60px;
                height: 500px;
            }

            .div2 {
                position: relative;
                width: 100%;
                background-color: #F9D9C9;
                height: 200px;
                top: 60px;
                height: 500px;
            }
        }

        .LearnMore {
            position: relative;
            text-align: center;
            position: relative;
            top: 35%;
            font-family: Segoe UI Emoji;
            color: #D3A78C;
        }
    </style>
</head>

<body>
    <div class="Mainh">
        <div class="div1">
            <img src="https://www.customscene.co/wp-content/uploads/2020/01/hands-holding-square-paper-mockup-image04.jpg" style="height: 500px;" width="100%" alt="" srcset="">
        </div>
        <div class="div2">
            <h1 class="heading">
                MORDERN LIFESTYLE <br>
                BRAND DESIGN MADE<br>
                WITH A PURPOSE

            </h1>
           

        </div>
    </div>
</body>

</html>